<div class="row">
    <div class="col-md-8" ng-controller="errorProneController as model">
        <div>
            <h4>Alerts</h4>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="model.alertMessage" />
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="model.alertType"
                        ng-options="type for type in model.alertTypes"></select>
            </div>
            <button class="btn btn-default btn-lg" ng-click="model.createAlert()">Create Alert</button>
        </div>
        <hr />
    </div>

    <div class="col-md-4">
        <alerts></alerts>
    </div>
</div>
<hr />